{% extends "base.html" %}
{% block title %} library {% endblock %}
{% block content %}
<head>
    <style>
        

        
        
        .content h1{
            font-family: 'Open Sans', sans-serif;
            font-size: 20px;
            text-decoration: none;
        }
        .content a:hover{
            color:black;

        }
        .content a{
            text-decoration: none;
            font-size:20px;
            color: rgb(194, 10, 10);
        }
        
    
    </style>
</head>
<div class = "flashcards_home">

    <h1>Hello this is the word library</h1>
</div>
{% endblock %}